.list {
  display: grid;
  margin: 0;
  /* https://css-tricks.com/responsive-layouts-fewer-media-queries/ */
  --w: 280px;
  --n: 2;
  gap: var(--size-gap);
  grid-template-columns: repeat(
    auto-fit,
    minmax(max(var(--w), 100%/ (var(--n) + 1) + 0.1%), 1fr)
  );
  margin-bottom: var(--size-gap);
  margin-top: var(--size-gap);
}

.listItem {
  margin: 0;
}

.listItem::marker {
  color: #e95800;
}

.listItem:nth-child(2)::marker {
  color: #159bf3;
}

.listItem:nth-child(3)::marker {
  color: #8eb814;
}

.listItem:nth-child(4)::marker {
  color: #663399;
}

.listItemLink {
  color: var(--color-primary);
  font-weight: bold;
  font-size: 18px;
}

.listItemDescription {
  color: var(--color-text);
  margin-bottom: 0;
  margin-top: var(--space-1);
}

.textCenter {
  text-align: center;
}

.intro {
  max-width: none;
  line-height: var(--line-height-loose);
}

/* 导航栏样式 */
nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  margin: 100;
  justify-content: center; /* 居中导航栏 */
  gap: 20px; /* 导航项之间的间距 */
}

nav ul li {
  margin: 0;
}

nav ul li a {
  text-decoration: none;
  color: #333; /* 导航链接颜色 */
  font-weight: bold;
}

nav ul li a:hover {
  color: #007acc; /* 悬停时的颜色 */
}
nav {
  display: flex;
}





.buildingContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.buildingItem {
  display: flex;
  align-items: center;
  gap: 20px;
}

.buildingInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.buildingTitleLink {
  text-decoration: none;
  color: #3f39e6; /* 标题链接颜色 */
}

.buildingTitleLink:hover {
  text-decoration: underline; /* 鼠标悬停时添加下划线 */
}
